<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DaycareManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="children">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Children
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parents">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> Parents
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classrooms">
                <span class="bi bi-shop-window-nav-menu" aria-hidden="true"></span> Classrooms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attendance/checkin">
                <span class="bi bi-clock-fill-nav-menu" aria-hidden="true"></span> Attendance
            </NavLink>
        </div>
    </nav>
</div>

